* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: aquamarine;

}

main {
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.623);
}

h1 {
    text-align: center;
}

h2 {
    width: auto;
    margin: auto;
    padding: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.322);
    border-radius: 5px;
}

p {
    text-align: justify;
}